<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good website</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>
<body>
    <div class="container">
    <h1 class="topic">Good carrer</h1>
    <img class="photo" src="../static/images/banner.jpg" >
    <h2 class="topic">about carrer</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quasi est id quaerat voluptas atque sapiente, dolor recusandae autem maiores, quod cumque obcaecati laudantium, alias dolorem explicabo earum omnis consequuntur!</p>
    <h2 class="topic">open position</h2>
    <div class="topic">
    <button>Contact us </button>
    </div>
    <p class="topic"> copy right 2024 </p>
</body>
</html>